
<p style="text-align: center;"><strong><a name="LinkedList"></a>Linked List:</strong></p>
<p><em><strong>Singly Linked List:</strong></em></p>
<ol>
<li><a href="http://geeksquiz.com/linked-list-set-1-introduction/" target="_blank">Introduction to Linked List</a></li>
<li><a href="https://www.geeksforgeeks.org/linked-list-vs-array/">Linked List vs Array</a></li>
<li><a href="http://geeksquiz.com/linked-list-set-2-inserting-a-node/" target="_blank">Linked List Insertion</a></li>
<li><a href="http://geeksquiz.com/linked-list-set-3-deleting-node/" rel="bookmark">Linked List Deletion (Deleting a given key)</a></li>
<li><a href="http://geeksquiz.com/delete-a-linked-list-node-at-a-given-position/" rel="bookmark">Linked List Deletion (Deleting a key at given position)</a></li>
<li><a href="http://geeksquiz.com/programmers-approach-looking-array-vs-linked-list/" rel="bookmark">A Programmer’s approach of looking at Array vs. Linked List</a></li>
<li><a href="http://geeksquiz.com/find-length-of-a-linked-list-iterative-and-recursive/" rel="bookmark">Find Length of a Linked List (Iterative and Recursive)</a></li>
<li><a href="https://www.geeksforgeeks.org/how-to-write-functions-that-modify-the-head-pointer-of-a-linked-list/">How to write C functions that modify head pointer of a Linked List?</a></li>
<li><a href="https://www.geeksforgeeks.org/swap-nodes-in-a-linked-list-without-swapping-data/" rel="bookmark">Swap nodes in a linked list without swapping data</a></li>
<li><a href="https://www.geeksforgeeks.org/write-a-function-to-reverse-the-nodes-of-a-linked-list/">Reverse a linked list</a></li>
<li><a href="https://www.geeksforgeeks.org/merge-two-sorted-linked-lists/">Merge two sorted linked lists</a></li>
<li><a href="https://www.geeksforgeeks.org/merge-sort-for-linked-list/">Merge Sort for Linked Lists</a></li>
<li><a href="https://www.geeksforgeeks.org/reverse-a-list-in-groups-of-given-size/">Reverse a Linked List in groups of given size</a></li>
<li><a href="https://www.geeksforgeeks.org/detect-and-remove-loop-in-a-linked-list/">Detect and Remove Loop in a Linked List</a></li>
<li><a href="https://www.geeksforgeeks.org/add-two-numbers-represented-by-linked-lists/">Add two numbers represented by linked lists | Set 1</a></li>
<li><a href="https://www.geeksforgeeks.org/rotate-a-linked-list/">Rotate a Linked List</a></li>
<li><a href="https://www.geeksforgeeks.org/generic-linked-list-in-c-2/" rel="bookmark">Generic Linked List in C</a></li>
</ol>
<p><em><strong>Circular Linked List: </strong></em></p><br/>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- post_top_responsive -->
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-9465609616171866"
          data-ad-slot="4501693235"
          data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <br/>

<ol>
<li><a href="http://geeksquiz.com/circular-linked-list/" rel="bookmark">Circular Linked List Introduction and Applications,</a></li>
<li><a href="https://www.geeksforgeeks.org/circular-singly-linked-list-insertion/">Circular Singly Linked List Insertion&lt;</a></li>
<li><a href="http://geeksquiz.com/circular-linked-list-set-2-traversal/" target="_blank">Circular Linked List Traversal</a></li>
<li><a href="https://www.geeksforgeeks.org/split-a-circular-linked-list-into-two-halves/">Split a Circular Linked List into two halves</a></li>
<li><a href="https://www.geeksforgeeks.org/sorted-insert-for-circular-linked-list/">Sorted insert for circular linked list</a></li>
</ol>
<p><em><strong>Doubly Linked List:</strong> </em></p>
<ol>
<li><a href="http://geeksquiz.com/doubly-linked-list/" rel="bookmark">Doubly Linked List Introduction and Insertion</a></li>
<li><a href="https://www.geeksforgeeks.org/delete-a-node-in-a-doubly-linked-list/">Delete a node in a Doubly Linked List</a></li>
<li><a href="https://www.geeksforgeeks.org/reverse-a-doubly-linked-list/">Reverse a Doubly Linked List</a></li>
<li><a href="https://www.geeksforgeeks.org/the-great-tree-list-recursion-problem/">The Great Tree-List Recursion Problem.</a></li>
<li><a href="https://www.geeksforgeeks.org/quicksort-for-linked-list/">QuickSort on Doubly Linked List</a></li>
<li><a href="https://www.geeksforgeeks.org/merge-sort-for-doubly-linked-list/" rel="bookmark">Merge Sort for Doubly Linked List</a></li>
</ol>
<p><strong><a href="https://www.geeksforgeeks.org/data-structures/linked-list/">All Articles of Linked List</a></strong><br />
<a href="http://geeksquiz.com/data-structure/linked-list/" target="_blank">Quiz on Linked List</a><br />
<a href="https://practice.geeksforgeeks.org/topics/Linked-List/">Coding Practice on Linked List</a><br />
<a href="https://www.geeksforgeeks.org/category/linked-list/">Recent Articles on Linked List</a></p>
<p style="text-align: center;"><strong><a name="Stack"></a>Stack:</strong></p>
<ol>
<li><a href="http://geeksquiz.com/stack-set-1/" target="_blank">Introduction to Stack</a></li>
<li><a href="http://geeksquiz.com/stack-set-2-infix-to-postfix/" target="_blank">Infix to Postfix Conversion using Stack</a></li>
<li><a href="http://geeksquiz.com/stack-set-4-evaluation-postfix-expression/" target="_blank">Evaluation of Postfix Expression</a></li>
<li><a href="http://geeksquiz.com/stack-set-3-reverse-string-using-stack/" target="_blank"> Reverse a String using Stack</a></li>
<li><a href="https://www.geeksforgeeks.org/archives/18754">Implement two stacks in an array</a></li>
<li><a href="https://www.geeksforgeeks.org/archives/6547">Check for balanced parentheses in an expression</a></li>
<li><a href="https://www.geeksforgeeks.org/archives/8405">Next Greater Element</a></li>
<li><a href="https://www.geeksforgeeks.org/archives/6921">Reverse a stack using recursion</a></li>
<li><a href="https://www.geeksforgeeks.org/sort-a-stack-using-recursion/">Sort a stack using recursion</a></li>
<li><a href="https://www.geeksforgeeks.org/the-stock-span-problem/" target="_blank">The Stock Span Problem</a></li>
<li><a href="https://www.geeksforgeeks.org/design-and-implement-special-stack-data-structure/">Design and Implement Special Stack Data Structure</a></li>
<li><a href="https://www.geeksforgeeks.org/implement-stack-using-queue/">Implement Stack using Queues</a></li>
<li><a href="https://www.geeksforgeeks.org/design-a-stack-with-find-middle-operation/">Design a stack with operations on middle element</a></li>
<li><a href="https://www.geeksforgeeks.org/efficiently-implement-k-stacks-single-array/" rel="bookmark">How to efficiently implement k stacks in a single array?</a></li>
<li><a href="https://www.geeksforgeeks.org/sort-a-stack-using-recursion/">Sort a stack using recursion</a></li>
</ol>
<p><a href="http://geeksquiz.com/data-structure/stack/">Quiz on Stack</a><br />
<strong><a href="https://www.geeksforgeeks.org/stack/">All Articles on Stack</a></strong><br />
<a href="https://practice.geeksforgeeks.org/topics/Stack/">Coding Practice on Stack</a><br />
<a href="https://www.geeksforgeeks.org/category/stack/">Recent Articles on Stack</a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong><a name="Queue"></a>Queue:</strong></p>
<ol>
<li><a href="http://geeksquiz.com/queue-set-1introduction-and-array-implementation/" target="_blank">Queue Introduction and Array Implementation</a></li>
<li><a href="http://geeksquiz.com/queue-set-2-linked-list-implementation/" target="_blank">Linked List Implementation of Queue</a></li>
<li><a href="https://www.geeksforgeeks.org/archives/11042">Applications of Queue Data Structure</a></li>
<li><a href="http://geeksquiz.com/priority-queue-set-1-introduction/" rel="bookmark">Priority Queue Introduction</a></li>
<li><a href="http://geeksquiz.com/deque-set-1-introduction-applications/" rel="bookmark">Deque (Introduction and Applications)</a></li>
<li><a href="https://www.geeksforgeeks.org/implementation-deque-using-circular-array/">Implementation of Deque using circular array</a></li>
<li><a href="https://www.geeksforgeeks.org/archives/5009">Implement Queue using Stacks</a></li>
<li><a href="https://www.geeksforgeeks.org/find-a-tour-that-visits-all-stations/" target="_blank">Find the first circular tour that visits all petrol pumps</a></li>
<li><a href="https://www.geeksforgeeks.org/maximum-of-all-subarrays-of-size-k/" target="_blank">Maximum of all subarrays of size k</a></li>
<li><a href="https://www.geeksforgeeks.org/interesting-method-generate-binary-numbers-1-n/" rel="bookmark">An Interesting Method to Generate Binary Numbers from 1 to n</a></li>
<li><a href="https://www.geeksforgeeks.org/efficiently-implement-k-queues-single-array/" rel="bookmark">How to efficiently implement k Queues in a single array?</a></li>
</ol>
<p><a href="http://geeksquiz.com/data-structure/queue/">Quiz on Queue</a><br />
<strong><a href="https://www.geeksforgeeks.org/queue/">All Articles on Queue</a></strong><br />
<a href="https://practice.geeksforgeeks.org/topics/Queue/">Coding Practice on Queue</a><br />
<a href="https://www.geeksforgeeks.org/category/queue/">Recent Articles on Queue</a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong><a name="BinaryTree"></a>Binary Tree:</strong></p>
<ol>
<li><a href="http://geeksquiz.com/binary-tree-set-1-introduction/" target="_blank">Binary Tree Introduction</a></li>
<li><a href="http://geeksquiz.com/binary-tree-set-2-properties/" rel="bookmark">Binary Tree Properties</a></li>
<li><a href="http://geeksquiz.com/binary-tree-set-3-types-of-binary-tree/" rel="bookmark">Types of Binary Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/handshaking-lemma-and-interesting-tree-properties/" rel="bookmark">Handshaking Lemma and Interesting Tree Properties</a></li>
<li><a href="http://geeksquiz.com/enumeration-of-binary-trees/" rel="bookmark">Enumeration of Binary Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/applications-of-tree-data-structure/">Applications of tree data structure</a></li>
<li><a href="https://www.geeksforgeeks.org/618/">Tree Traversals</a></li>
<li><a title="Permalink to BFS vs DFS for Binary Tree" href="https://www.geeksforgeeks.org/bfs-vs-dfs-binary-tree/" rel="bookmark">BFS vs DFS for Binary Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/level-order-tree-traversal/">Level Order Tree Traversal</a></li>
<li><a href="https://www.geeksforgeeks.org/diameter-of-a-binary-tree/">Diameter of a Binary Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/inorder-tree-traversal-without-recursion/">Inorder Tree Traversal without Recursion</a></li>
<li><a href="https://www.geeksforgeeks.org/inorder-tree-traversal-without-recursion-and-without-stack/">Inorder Tree Traversal without recursion and without stack!</a></li>
<li><a href="http://geeksquiz.com/threaded-binary-tree/" rel="bookmark">Threaded Binary Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/write-a-c-program-to-find-the-maximum-depth-or-height-of-a-tree/">Maximum Depth or Height of a Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/if-you-are-given-two-traversal-sequences-can-you-construct-the-binary-tree/">If you are given two traversal sequences, can you construct the binary tree?</a></li>
<li><a href="https://www.geeksforgeeks.org/clone-binary-tree-random-pointers/" rel="bookmark">Clone a Binary Tree with Random Pointers</a></li>
<li><a href="https://www.geeksforgeeks.org/construct-tree-from-given-inorder-and-preorder-traversal/">Construct Tree from given Inorder and Preorder traversals</a></li>
<li><a href="https://www.geeksforgeeks.org/maximum-width-of-a-binary-tree/">Maximum width of a binary tree</a></li>
<li><a href="https://www.geeksforgeeks.org/print-nodes-at-k-distance-from-root/">Print nodes at k distance from root</a></li>
<li><a href="https://www.geeksforgeeks.org/print-ancestors-of-a-given-node-in-binary-tree/">Print Ancestors of a given node in Binary Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/check-if-a-binary-tree-is-subtree-of-another-binary-tree/">Check if a binary tree is subtree of another binary tree</a></li>
<li><a href="https://www.geeksforgeeks.org/connect-nodes-at-same-level/">Connect nodes at same level</a></li>
</ol>
<p><a href="http://geeksquiz.com/data-structure/binary-trees/" target="_blank">Quiz on Binary Tree</a><br />
<a href="http://geeksquiz.com/data-structure/tree-traversals/" target="_blank">Quiz on Binary Tree Traversals</a><br />
<strong><a href="https://www.geeksforgeeks.org/binary-tree-2/">All articles on Binary Tree</a></strong><br />
<a href="https://practice.geeksforgeeks.org/topics/Tree/">Coding Practice on Binary Tree</a><br />
<a href="https://www.geeksforgeeks.org/category/tree/">Recent Articles on Tree</a></p>
<p style="text-align: center;"><strong style="font-size: 14px; line-height: 1.5em;"><a name="BinarySearchTree"></a>Binary Search Tree:</strong></p>
<ol>
<li><a href="http://geeksquiz.com/binary-search-tree-set-1-search-and-insertion/" target="_blank">Search and Insert in BST</a></li>
<li><a href="http://geeksquiz.com/binary-search-tree-set-2-delete/" target="_blank">Deletion from BST</a></li>
<li><a href="https://www.geeksforgeeks.org/find-the-minimum-element-in-a-binary-search-tree/" target="_blank">Minimum value in a Binary Search Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/inorder-predecessor-successor-given-key-bst/" rel="bookmark">Inorder predecessor and successor for a given key in BST</a></li>
<li><a href="https://www.geeksforgeeks.org/a-program-to-check-if-a-binary-tree-is-bst-or-not/" target="_blank">Check if a binary tree is BST or not</a></li>
<li><a href="https://www.geeksforgeeks.org/lowest-common-ancestor-in-a-binary-search-tree/" target="_blank">Lowest Common Ancestor in a Binary Search Tree.</a></li>
<li><a href="https://www.geeksforgeeks.org/inorder-successor-in-binary-search-tree/">Inorder Successor in Binary Search Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/find-k-th-smallest-element-in-bst-order-statistics-in-bst/">Find k-th smallest element in BST (Order Statistics in BST)</a></li>
<li><a href="https://www.geeksforgeeks.org/merge-two-bsts-with-limited-extra-space/">Merge two BSTs with limited extra space</a></li>
<li><a href="https://www.geeksforgeeks.org/fix-two-swapped-nodes-of-bst/">Two nodes of a BST are swapped, correct the BST</a></li>
<li><a href="https://www.geeksforgeeks.org/floor-and-ceil-from-a-bst/">Floor and Ceil from a BST</a></li>
<li><a href="https://www.geeksforgeeks.org/in-place-conversion-of-sorted-dll-to-balanced-bst/">In-place conversion of Sorted DLL to Balanced BST</a></li>
<li><a href="https://www.geeksforgeeks.org/find-a-pair-with-given-sum-in-bst/">Find a pair with given sum in a Balanced BST</a></li>
<li><a href="https://www.geeksforgeeks.org/g-fact-18/">Total number of possible Binary Search Trees with n keys</a></li>
<li><a href="https://www.geeksforgeeks.org/merge-two-balanced-binary-search-trees/">Merge Two Balanced Binary Search Trees</a></li>
<li><a href="https://www.geeksforgeeks.org/binary-tree-to-binary-search-tree-conversion/">Binary Tree to Binary Search Tree Conversion</a></li>
</ol>
<p><a href="http://geeksquiz.com/data-structure/binary-search-trees/">Quiz on Binary Search Trees</a><br />
<a href="http://geeksquiz.com/data-structure/balanced-binary-search-trees/">Quiz on Balanced Binary Search Trees</a><br />
<strong><a href="https://www.geeksforgeeks.org/binary-search-tree/">All Articles on Binary Search Tree</a></strong><br />
<a href="https://practice.geeksforgeeks.org/topics/BST/">Coding Practice on Binary Search Tree</a><br />
<a href="https://www.geeksforgeeks.org/category/binary-search-tree/">Recent Articles on BST</a></p>
<p style="text-align: center;"><strong><a name="Heap"></a>Heap: </strong></p>
<ol>
<li><a href="http://geeksquiz.com/binary-heap/" rel="bookmark">Binary Heap</a></li>
<li><a href="https://www.geeksforgeeks.org/why-is-binary-heap-preferred-over-bst-for-priority-queue/">Why is Binary Heap Preferred over BST for Priority Queue?</a></li>
<li><a href="https://www.geeksforgeeks.org/binomial-heap-2/" rel="bookmark">Binomial Heap</a></li>
<li><a href="https://www.geeksforgeeks.org/fibonacci-heap-set-1-introduction/">Fibonacci Heap</a></li>
<li><a href="http://geeksquiz.com/heap-sort/" target="_blank">Heap Sort</a></li>
<li><a href="https://www.geeksforgeeks.org/k-largestor-smallest-elements-in-an-array/" target="_blank">K’th Largest Element in an array</a></li>
<li><a href="https://www.geeksforgeeks.org/nearly-sorted-algorithm/" target="_blank">Sort an almost sorted array/</a></li>
<li><a href="https://www.geeksforgeeks.org/tournament-tree-and-binary-heap/">Tournament Tree (Winner Tree) and Binary Heap</a></li>
</ol>
<p><strong><a href="https://www.geeksforgeeks.org/heap/">All Articles on Heap</a></strong><br />
<a href="http://geeksquiz.com/data-structure/heap/">Quiz on Heap</a><br />
<a href="https://practice.geeksforgeeks.org/tag-page.php?tag=heap&amp;isCmp=0">Coding Practice on Heap</a><br />
<a href="https://www.geeksforgeeks.org/category/heap/">Recent Articles on Heap</a></p>
<p style="text-align: center;"><strong><a name="Hashing"></a>Hashing:</strong></p>
<ol>
<li><a href="http://geeksquiz.com/hashing-set-1-introduction/" target="_blank">Hashing Introduction</a></li>
<li><a href="http://geeksquiz.com/hashing-set-2-separate-chaining/">Separate Chaining for Collision Handling </a></li>
<li><a href="http://geeksquiz.com/hashing-set-3-open-addressing/">Open Addressing for Collision Handling </a></li>
<li><a href="https://www.geeksforgeeks.org/print-binary-tree-vertical-order-set-2/" target="_blank">Print a Binary Tree in Vertical Order</a></li>
<li><a href="https://www.geeksforgeeks.org/find-whether-an-array-is-subset-of-another-array-set-1/" target="_blank">Find whether an array is subset of another array</a></li>
<li><a href="https://www.geeksforgeeks.org/union-and-intersection-of-two-linked-lists/" target="_blank"> Union and Intersection of two Linked Lists</a></li>
<li><a href="https://www.geeksforgeeks.org/write-a-c-program-that-given-a-set-a-of-n-numbers-and-another-number-x-determines-whether-or-not-there-exist-two-elements-in-s-whose-sum-is-exactly-x/" target="_blank">Find a pair with given sum</a></li>
<li><a href="https://www.geeksforgeeks.org/check-given-array-contains-duplicate-elements-within-k-distance/" target="_blank">Check if a given array contains duplicate elements within k distance from each other</a></li>
<li><a href="https://www.geeksforgeeks.org/find-itinerary-from-a-given-list-of-tickets/" rel="bookmark">Find Itinerary from a given list of tickets</a></li>
<li><a href="https://www.geeksforgeeks.org/find-number-of-employees-under-every-manager/" rel="bookmark">Find number of Employees Under every Employee</a></li>
</ol>
<p><a href="http://geeksquiz.com/data-structure/hash/" target="_blank">Quiz on Hashing</a><br />
<strong><a href="https://www.geeksforgeeks.org/hashing/">All Articles on Hashing</a></strong><br />
<a href="https://practice.geeksforgeeks.org/topics/Hashing/">Coding Practice on Hashing</a><br />
<a href="https://www.geeksforgeeks.org/category/hash/">Recent Articles on Hashing</a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong><a name="Graph"></a>Graph:</strong></p>
<p><em><strong>Introduction, DFS and BFS:</strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/graph-and-its-representations/" rel="bookmark">Graph and its representations</a></li>
<li><a href="https://www.geeksforgeeks.org/breadth-first-traversal-for-a-graph/" rel="bookmark">Breadth First Traversal for a Graph</a></li>
<li><a href="https://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/" rel="bookmark">Depth First Traversal for a Graph</a></li>
<li><a href="https://www.geeksforgeeks.org/applications-of-depth-first-search/" rel="bookmark">Applications of Depth First Search</a></li>
<li><a href="https://www.geeksforgeeks.org/applications-of-breadth-first-traversal/" rel="bookmark">Applications of Breadth First Traversal</a></li>
<li><a href="https://www.geeksforgeeks.org/detect-cycle-in-a-graph/" rel="bookmark">Detect Cycle in a Directed Graph</a></li>
<li><a href="https://www.geeksforgeeks.org/union-find/" rel="bookmark">Detect Cycle in a an Undirected Graph</a></li>
<li><a href="https://www.geeksforgeeks.org/detect-cycle-undirected-graph/" rel="bookmark">Detect cycle in an undirected graph</a></li>
<li><a href="https://www.geeksforgeeks.org/find-longest-path-directed-acyclic-graph/" rel="bookmark">Longest Path in a Directed Acyclic Graph</a></li>
<li><a href="https://www.geeksforgeeks.org/topological-sorting/" rel="bookmark">Topological Sorting</a></li>
<li><a href="https://www.geeksforgeeks.org/bipartite-graph/" rel="bookmark">Check whether a given graph is Bipartite or not</a></li>
<li><a href="https://www.geeksforgeeks.org/snake-ladder-problem-2/" rel="bookmark">Snake and Ladder Problem</a></li>
<li><a href="https://www.geeksforgeeks.org/minimize-cash-flow-among-given-set-friends-borrowed-money/" rel="bookmark">Minimize Cash Flow among a given set of friends who have borrowed money from each other</a></li>
<li><a href="https://www.geeksforgeeks.org/boggle-find-possible-words-board-characters/" rel="bookmark">Boggle (Find all possible words in a board of characters)</a></li>
<li><a href="https://www.geeksforgeeks.org/assign-directions-to-edges-so-that-the-directed-graph-remains-acyclic/" rel="bookmark">Assign directions to edges so that the directed graph remains acyclic</a></li>
</ol>
<p><strong><a href="https://www.geeksforgeeks.org/graph-data-structure-and-algorithms/">All Articles on Graph Data Structure</a></strong><br />
<a href="http://geeksquiz.com/data-structure/graph/">Quiz on Graph</a><br />
<a href="http://geeksquiz.com/algorithms/graph-traversals/">Quiz on Graph Traversals</a><br />
<a href="http://geeksquiz.com/algorithms/graph-shortest-paths/">Quiz on Graph Shortest Paths</a><br />
<a href="http://geeksquiz.com/algorithms/graph-minimum-spanning-tree/">Quiz on Graph Minimum Spanning Tree</a><br />
<a href="https://practice.geeksforgeeks.org/topics/Graph/">Coding Practice on Graph</a><br />
<a href="https://www.geeksforgeeks.org/category/graph/">Recent Articles on Graph</a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong><a name="AdvancedDataStructure"></a>Advanced Data Structure:</strong></p>
<p><em><strong>Advanced Lists: </strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/memory-efficient-doubly-linked-list/">Memory efficient doubly linked list</a></li>
<li><a href="https://www.geeksforgeeks.org/xor-linked-list-a-memory-efficient-doubly-linked-list-set-1/">XOR Linked List – A Memory Efficient Doubly Linked List | Set 1</a></li>
<li><a href="https://www.geeksforgeeks.org/xor-linked-list-a-memory-efficient-doubly-linked-list-set-2/">XOR Linked List – A Memory Efficient Doubly Linked List | Set 2</a></li>
<li><a href="https://www.geeksforgeeks.org/skip-list/">Skip List | Set 1 (Introduction)</a></li>
<li><a href="https://www.geeksforgeeks.org/self-organizing-list-set-1-introduction/">Self Organizing List | Set 1 (Introduction)</a></li>
<li><a href="https://www.geeksforgeeks.org/unrolled-linked-list-set-1-introduction/">Unrolled Linked List | Set 1 (Introduction)</a></li>
</ol>
<p><em><strong>Segment Tree:</strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/segment-tree-set-1-sum-of-given-range/" rel="bookmark">Segment Tree | Set 1 (Sum of given range)</a></li>
<li><a href="https://www.geeksforgeeks.org/segment-tree-set-1-range-minimum-query/" target="_blank">Segment Tree | Set 2 (Range Minimum Query)</a></li>
<li><a title="Permalink to Lazy Propagation in Segment Tree" href="https://www.geeksforgeeks.org/lazy-propagation-in-segment-tree/" rel="bookmark">Lazy Propagation in Segment Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/persistent-segment-tree-set-1-introduction/">Persistent Segment Tree | Set 1 (Introduction)</a></li>
</ol>
<p><strong><a href="https://www.geeksforgeeks.org/tag/segment-tree/">All articles on Segment Tree</a></strong><br />
<em><strong>Trie: </strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/trie-insert-and-search/" rel="bookmark">Trie | (Insert and Search)</a></li>
<li><a href="https://www.geeksforgeeks.org/trie-delete/" rel="bookmark">Trie | (Delete)</a></li>
<li><a href="https://www.geeksforgeeks.org/longest-prefix-matching-a-trie-based-solution-in-java/" rel="bookmark">Longest prefix matching – A Trie based solution in Java</a></li>
<li><a href="https://www.geeksforgeeks.org/print-unique-rows/" rel="bookmark">Print unique rows in a given boolean matrix</a></li>
<li><a href="https://www.geeksforgeeks.org/implement-reverse-dns-look-cache/" rel="bookmark">How to Implement Reverse DNS Look Up Cache?</a></li>
<li><a href="https://www.geeksforgeeks.org/implement-forward-dns-look-cache/" rel="bookmark">How to Implement Forward DNS Look Up Cache?</a></li>
</ol>
<p><strong><a href="https://www.geeksforgeeks.org/tag/trie/">All Articles on Trie</a></strong><br />
<em><strong>Binary Indexed Tree: </strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/binary-indexed-tree-or-fenwick-tree-2/">Binary Indexed Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/two-dimensional-binary-indexed-tree-or-fenwick-tree/" rel="bookmark">Two Dimensional Binary Indexed Tree or Fenwick Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/binary-indexed-tree-range-updates-point-queries/" rel="bookmark">Binary Indexed Tree : Range Updates and Point Queries</a></li>
<li><a href="https://www.geeksforgeeks.org/binary-indexed-tree-range-update-range-queries/" rel="bookmark">Binary Indexed Tree : Range Update and Range Queries</a></li>
</ol>
<p><strong><a href="https://www.geeksforgeeks.org/tag/binary-indexed-tree/">All Articles on Binary Indexed Tree</a></strong><br />
<em><strong>Suffix Array and <em><strong>Suffix Tree</strong></em></strong></em>:</p>
<ol>
<li><a href="https://www.geeksforgeeks.org/suffix-array-set-1-introduction/" rel="bookmark">Suffix Array Introduction</a></li>
<li><a href="https://www.geeksforgeeks.org/suffix-array-set-2-a-nlognlogn-algorithm/" rel="bookmark">Suffix Array nLogn Algorithm</a></li>
<li><a title="Permalink to ­­kasai’s Algorithm for Construction of LCP array from Suffix Array" href="https://www.geeksforgeeks.org/%c2%ad%c2%adkasais-algorithm-for-construction-of-lcp-array-from-suffix-array/" rel="bookmark">kasai’s Algorithm for Construction of LCP array from Suffix Array</a></li>
<li><a href="https://www.geeksforgeeks.org/pattern-searching-set-8-suffix-tree-introduction/" rel="bookmark">Suffix Tree Introduction</a></li>
<li><a href="https://www.geeksforgeeks.org/ukkonens-suffix-tree-construction-part-1/" rel="bookmark">Ukkonen’s Suffix Tree Construction – Part 1</a></li>
<li><a href="https://www.geeksforgeeks.org/ukkonens-suffix-tree-construction-part-2/" rel="bookmark">Ukkonen’s Suffix Tree Construction – Part 2</a></li>
<li><a href="https://www.geeksforgeeks.org/ukkonens-suffix-tree-construction-part-3/" rel="bookmark">Ukkonen’s Suffix Tree Construction – Part 3</a></li>
<li><a href="https://www.geeksforgeeks.org/ukkonens-suffix-tree-construction-part-4/" rel="bookmark">Ukkonen’s Suffix Tree Construction – Part 4, </a></li>
<li><a href="https://www.geeksforgeeks.org/ukkonens-suffix-tree-construction-part-5/" rel="bookmark">Ukkonen’s Suffix Tree Construction – Part 5</a></li>
<li><a href="https://www.geeksforgeeks.org/ukkonens-suffix-tree-construction-part-6/" rel="bookmark">Ukkonen’s Suffix Tree Construction – Part 6</a></li>
<li><a href="https://www.geeksforgeeks.org/generalized-suffix-tree-1/" rel="bookmark">Generalized Suffix Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/suffix-tree-application-4-build-linear-time-suffix-array/">Build Linear Time Suffix Array using Suffix Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/suffix-tree-application-1-substring-check/" rel="bookmark">Substring Check</a></li>
<li><a href="https://www.geeksforgeeks.org/suffix-tree-application-2-searching-all-patterns/" rel="bookmark">Searching All Patterns</a></li>
<li><a href="https://www.geeksforgeeks.org/suffix-tree-application-3-longest-repeated-substring/" rel="bookmark">Longest Repeated Substring, </a></li>
<li><a href="https://www.geeksforgeeks.org/suffix-tree-application-6-longest-palindromic-substring/" rel="bookmark">Longest Common Substring, Longest Palindromic Substring</a></li>
</ol>
<p><strong><br />
<a href="https://www.geeksforgeeks.org/tag/suffix-tree/">All Articles on Suffix Tree</a></strong><br />
<strong>AVL Tree:</strong></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/avl-tree-set-1-insertion/" rel="bookmark">AVL Tree | Set 1 (Insertion)</a></li>
<li><a href="https://www.geeksforgeeks.org/avl-tree-set-2-deletion/" rel="bookmark">AVL Tree | Set 2 (Deletion)</a></li>
<li><a href="http://geeksquiz.com/avl-with-duplicate-keys/" rel="bookmark">AVL with duplicate keys</a></li>
</ol>
<p><em><strong>Splay Tree: </strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/splay-tree-set-1-insert/" rel="bookmark">Splay Tree | Set 1 (Search)</a></li>
<li><a href="https://www.geeksforgeeks.org/splay-tree-set-2-insert-delete/" rel="bookmark">Splay Tree | Set 2 (Insert)</a></li>
</ol>
<p><em><strong>B Tree:</strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/b-tree-set-1-introduction-2/" rel="bookmark">B-Tree | Set 1 (Introduction)</a></li>
<li><a href="https://www.geeksforgeeks.org/b-tree-set-1-insert-2/" rel="bookmark">B-Tree | Set 2 (Insert)</a></li>
<li><a href="https://www.geeksforgeeks.org/b-tree-set-3delete/" rel="bookmark">B-Tree | Set 3 (Delete)</a></li>
</ol>
<p><em><strong>Red-Black Tree:</strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/red-black-tree-set-1-introduction-2/" target="_blank">Red-Black Tree Introduction</a></li>
<li><a href="https://www.geeksforgeeks.org/red-black-tree-set-2-insert/" target="_blank">Red Black Tree Insertion.</a></li>
<li><a href="https://www.geeksforgeeks.org/red-black-tree-set-3-delete-2/" rel="bookmark">Red-Black Tree Deletion</a></li>
<li><a href="http://geeksquiz.com/c-program-red-black-tree-insertion/" rel="bookmark">Program for Red Black Tree Insertion</a></li>
</ol>
<p><strong><br />
<a href="https://www.geeksforgeeks.org/tag/self-balancing-bst/">All Articles on Self-Balancing BSTs</a></strong></p>
<p>&nbsp;</p>
<p><em><strong>K Dimensional Tree:</strong></em></p>
<ol>
<li><a href="https://www.geeksforgeeks.org/k-dimensional-tree/">KD Tree (Search and Insert)</a></li>
<li><a href="https://www.geeksforgeeks.org/k-dimensional-tree-set-2-find-minimum/" target="_blank">K D Tree (Find Minimum)</a></li>
<li><a href="https://www.geeksforgeeks.org/k-dimensional-tree-set-3-delete/">K D Tree (Delete)</a></li>
</ol>
<p><strong><em>Others:</em> </strong></p>
<ol>
<ol>
<li><a href="https://www.geeksforgeeks.org/treap-a-randomized-binary-search-tree/">Treap (A Randomized Binary Search Tree)</a></li>
<li><a href="https://www.geeksforgeeks.org/ternary-search-tree/" rel="bookmark">Ternary Search Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/interval-tree/" rel="bookmark">Interval Tree</a></li>
<li><a href="https://www.geeksforgeeks.org/implement-lru-cache/" rel="bookmark">Implement LRU Cache</a></li>
<li><a href="https://www.geeksforgeeks.org/sort-numbers-stored-on-different-machines/" rel="bookmark">Sort numbers stored on different machines</a></li>
<li><a href="https://www.geeksforgeeks.org/find-the-k-most-frequent-words-from-a-file/" rel="bookmark">Find the k most frequent words from a file</a></li>
<li><a href="https://www.geeksforgeeks.org/given-a-sequence-of-words-print-all-anagrams-together-set-2/" rel="bookmark">Given a sequence of words, print all anagrams together</a></li>
<li><a href="https://www.geeksforgeeks.org/tournament-tree-and-binary-heap/">Tournament Tree (Winner Tree) and Binary Heap</a></li>
<li><a href="https://www.geeksforgeeks.org/decision-trees-fake-coin-puzzle/">Decision Trees – Fake (Counterfeit) Coin Puzzle (12 Coin Puzzle)</a></li>
<li><a href="https://www.geeksforgeeks.org/g-fact-87/">Spaghetti Stack</a></li>
<li><a href="https://www.geeksforgeeks.org/data-structure-dictionary-spell-checker/" rel="bookmark">Data Structure for Dictionary and Spell Checker?</a></li>
<li><a title="Permalink to Cartesian Tree" href="https://www.geeksforgeeks.org/cartesian-tree/" rel="bookmark">Cartesian Tree</a></li>
<li><a title="Permalink to Cartesian Tree Sorting" href="https://www.geeksforgeeks.org/cartesian-tree-sorting/" rel="bookmark">Cartesian Tree Sorting</a></li>
<li><a title="Permalink to Sparse Set" href="https://www.geeksforgeeks.org/sparse-set/" rel="bookmark">Sparse Set</a></li>
<li><a title="Permalink to Centroid Decomposition of Tree" href="https://www.geeksforgeeks.org/centroid-decomposition-of-tree/" rel="bookmark">Centroid Decomposition of Tree</a></li>
<li><a title="Permalink to Gomory-Hu Tree | Set 1 (Introduction)" href="https://www.geeksforgeeks.org/gomory-hu-tree-introduction/" rel="bookmark">Gomory-Hu Tree </a></li>
</ol>
</ol>
<p><a href="https://www.geeksforgeeks.org/category/advanced-data-structure/">Recent Articles on Advanced Data Structures.</a></p>
<p style="text-align: center;"><strong style="font-size: 14px; line-height: 1.5em;"><a name="Array"></a>Array:</strong></p>
<ol>
<ol>
<ol>
<li><a href="https://www.geeksforgeeks.org/search-insert-and-delete-in-an-unsorted-array/">Search, insert and delete in an unsorted array</a></li>
<li><a href="https://www.geeksforgeeks.org/search-insert-and-delete-in-a-sorted-array/">Search, insert and delete in a sorted array</a></li>
<li><a href="https://www.geeksforgeeks.org/write-a-program-to-reverse-an-array/">Write a program to reverse an array</a></li>
<li><a href="https://www.geeksforgeeks.org/leaders-in-an-array/">Leaders in an array</a></li>
<li><a href="https://www.geeksforgeeks.org/write-a-c-program-that-given-a-set-a-of-n-numbers-and-another-number-x-determines-whether-or-not-there-exist-two-elements-in-s-whose-sum-is-exactly-x/">Given an array A[] and a number x, check for pair in A[] with sum as x</a></li>
<li><a href="https://www.geeksforgeeks.org/majority-element/">Majority Element</a></li>
<li><a href="https://www.geeksforgeeks.org/find-the-number-occurring-odd-number-of-times/">Find the Number Occurring Odd Number of Times</a></li>
<li><a href="https://www.geeksforgeeks.org/largest-sum-contiguous-subarray/">Largest Sum Contiguous Subarray</a></li>
<li><a href="https://www.geeksforgeeks.org/find-the-missing-number/">Find the Missing Number</a></li>
<li><a href="https://www.geeksforgeeks.org/search-an-element-in-a-sorted-and-pivoted-array/">Search an element in a sorted and pivoted array</a></li>
<li><a href="https://www.geeksforgeeks.org/merge-one-array-of-size-n-into-another-one-of-size-mn/">Merge an array of size n into another array of size m+n</a></li>
<li><a href="https://www.geeksforgeeks.org/median-of-two-sorted-arrays/">Median of two sorted arrays</a></li>
<li><a href="https://www.geeksforgeeks.org/array-rotation/">Program for array rotation</a></li>
<li><a href="https://www.geeksforgeeks.org/program-for-array-rotation-continued-reversal-algorithm/">Reversal algorithm for array rotation</a></li>
<li><a href="https://www.geeksforgeeks.org/block-swap-algorithm-for-array-rotation/">Block swap algorithm for array rotation</a></li>
<li><a href="https://www.geeksforgeeks.org/maximum-sum-such-that-no-two-elements-are-adjacent/">Maximum sum such that no two elements are adjacent</a></li>
<li><a href="https://www.geeksforgeeks.org/sort-elements-by-frequency/">Sort elements by frequency | Set 1</a></li>
<li><a href="https://www.geeksforgeeks.org/counting-inversions/">Count Inversions in an array</a></li>
</ol>
</ol>
</ol>
<p><strong><a href="https://www.geeksforgeeks.org/array/">All Articles on Array</a></strong><br />
<a href="https://practice.geeksforgeeks.org/topics/Array/">Coding Practice on Array</a><br />
<a href="http://geeksquiz.com/data-structure/array/">Quiz on Array</a><br />
<a href="https://practice.geeksforgeeks.org/topics/Array/">Coding Practice on Array</a><br />
<a href="https://www.geeksforgeeks.org/category/c-arrays/">Recent Articles on Array</a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong><a name="Matrix"></a>Matrix: </strong></p>
<ol>
<ol>
<ol>
<li><a href="https://www.geeksforgeeks.org/search-in-row-wise-and-column-wise-sorted-matrix/">Search in a row wise and column wise sorted matrix</a></li>
<li><a href="https://www.geeksforgeeks.org/print-a-given-matrix-in-spiral-form/">Print a given matrix in spiral form</a></li>
<li><a href="https://www.geeksforgeeks.org/a-boolean-matrix-question/">A Boolean Matrix Question</a></li>
<li><a title="Permanent link to Print unique rows in a given boolean matrix" href="https://www.geeksforgeeks.org/print-unique-rows/" rel="bookmark">Print unique rows in a given boolean matrix</a></li>
<li><a href="https://www.geeksforgeeks.org/maximum-size-sub-matrix-with-all-1s-in-a-binary-matrix/">Maximum size square sub-matrix with all 1s</a></li>
<li><a href="https://www.geeksforgeeks.org/print-unique-rows/">Print unique rows in a given boolean matrix</a></li>
<li><a href="https://www.geeksforgeeks.org/inplace-m-x-n-size-matrix-transpose/">Inplace M x N size matrix transpose | Updated</a></li>
<li><a href="https://www.geeksforgeeks.org/dynamic-programming-set-27-max-sum-rectangle-in-a-2d-matrix/">Dynamic Programming | Set 27 (Maximum sum rectangle in a 2D matrix)</a></li>
<li><a title="Permanent link to Divide and Conquer | Set 5 (Strassen’s Matrix Multiplication)" href="https://www.geeksforgeeks.org/strassens-matrix-multiplication/" rel="bookmark">Strassen’s Matrix Multiplication</a></li>
<li><a title="Permanent link to Create a matrix with alternating rectangles of O and X" href="https://www.geeksforgeeks.org/create-a-matrix-with-alternating-rectangles-of-0-and-x/" rel="bookmark">Create a matrix with alternating rectangles of O and X</a></li>
<li><a title="Permanent link to Print all elements in sorted order from row and column wise sorted matrix" href="https://www.geeksforgeeks.org/print-elements-sorted-order-row-column-wise-sorted-matrix/" rel="bookmark">Print all elements in sorted order from row and column wise sorted matrix</a></li>
<li><a title="Permanent link to Given an n x n square matrix, find sum of all sub-squares of size k x k" href="https://www.geeksforgeeks.org/given-n-x-n-square-matrix-find-sum-sub-squares-size-k-x-k/" rel="bookmark">Given an n x n square matrix, find sum of all sub-squares of size k x k</a></li>
<li><a title="Permanent link to Count number of islands where every island is row-wise and column-wise separated" href="https://www.geeksforgeeks.org/count-number-islands-every-island-separated-line/" rel="bookmark">Count number of islands where every island is row-wise and column-wise separated</a></li>
<li><a title="Permanent link to Find a common element in all rows of a given row-wise sorted matrix" href="https://www.geeksforgeeks.org/find-common-element-rows-row-wise-sorted-matrix/" rel="bookmark">Find a common element in all rows of a given row-wise sorted matrix</a></li>
</ol>
</ol>
</ol>