
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Algorithm Simulator</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/signUp.js"></script>

  </head>

  <body>
<a id="home" href="/">Algorithm<span class="colour">Simulator</span><span style="font-size: 50%">.net</span></a>

    <div class="container">
      <div class="header">
        <nav>

        </nav>

      </div>

      <div class="jumbotron">
        <form class="form-signin">
       <label for="inputEmail" class="sr-only">Email/User Name</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email / User Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>
      </form>
      </div>

        <div>
            <a href="/">
            <button id="btnGotoHome" class="btn btn-lg btn-primary btn-block" type="button"> Back </button>
            </a>
        </div>


      <footer class="footer">
        <p>&copy; Joint Venture of KSM TEAM</p>
      </footer>

    </div>
  </body>
</html>
