
<!DOCTYPE html>
<html>
  <head>
    <title>Algorithm Simulator</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/signUp.js"></script>

  </head>

  <body>
<nav style="background: lightblue">


<a id="home" href="/">Algorithm<span class="colour">Simulator</span><span style="font-size: 50%">.net</span></a>
</nav>
<div style="background: gainsboro">


<p style="text-align: center"><strong><a name="LinkedList"></a>Linked List:</strong></p>
<p style="text-align: center"><em><strong>(i) Singly Linked List:</strong></em></p>

<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/linked-list-set-1-introduction/" target="_blank">Introduction to Linked List</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/linked-list-vs-array/">Linked List vs Array</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/linked-list-set-2-inserting-a-node/" target="_blank">Linked List Insertion</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/linked-list-set-3-deleting-node/" rel="bookmark">Linked List Deletion (Deleting a given key)</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/delete-a-linked-list-node-at-a-given-position/" rel="bookmark">Linked List Deletion (Deleting a key at given position)</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/programmers-approach-looking-array-vs-linked-list/" rel="bookmark">A Programmer’s approach of looking at Array vs. Linked List</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/find-length-of-a-linked-list-iterative-and-recursive/" rel="bookmark">Find Length of a Linked List (Iterative and Recursive)</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/how-to-write-functions-that-modify-the-head-pointer-of-a-linked-list/">How to write C functions that modify head pointer of a Linked List?</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/swap-nodes-in-a-linked-list-without-swapping-data/" rel="bookmark">Swap nodes in a linked list without swapping data</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/write-a-function-to-reverse-the-nodes-of-a-linked-list/">Reverse a linked list</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/merge-two-sorted-linked-lists/">Merge two sorted linked lists</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/merge-sort-for-linked-list/">Merge Sort for Linked Lists</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/reverse-a-list-in-groups-of-given-size/">Reverse a Linked List in groups of given size</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/detect-and-remove-loop-in-a-linked-list/">Detect and Remove Loop in a Linked List</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/add-two-numbers-represented-by-linked-lists/">Add two numbers represented by linked lists | Set 1</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/rotate-a-linked-list/">Rotate a Linked List</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/generic-linked-list-in-c-2/" rel="bookmark">Generic Linked List in C</a></li>
</ol>

<p style="text-align: center"><em><strong>(ii) Circular Linked List: </strong></em></p><br/>

<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/circular-linked-list/" rel="bookmark">Circular Linked List Introduction and Applications,</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/circular-singly-linked-list-insertion/">Circular Singly Linked List Insertion&lt;</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/circular-linked-list-set-2-traversal/" target="_blank">Circular Linked List Traversal</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/split-a-circular-linked-list-into-two-halves/">Split a Circular Linked List into two halves</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/sorted-insert-for-circular-linked-list/">Sorted insert for circular linked list</a></li>
</ol>
<p style="text-align: center" ><em><strong>(iii) Doubly Linked List:</strong> </em></p>
<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/doubly-linked-list/" rel="bookmark">Doubly Linked List Introduction and Insertion</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/delete-a-node-in-a-doubly-linked-list/">Delete a node in a Doubly Linked List</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/reverse-a-doubly-linked-list/">Reverse a Doubly Linked List</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/the-great-tree-list-recursion-problem/">The Great Tree-List Recursion Problem.</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/quicksort-for-linked-list/">QuickSort on Doubly Linked List</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/merge-sort-for-doubly-linked-list/" rel="bookmark">Merge Sort for Doubly Linked List</a></li>
</ol>

<p style="text-align: center;"><strong><a name="Stack"></a>Stack:</strong></p>
<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/stack-set-1/" target="_blank">Introduction to Stack</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/stack-set-2-infix-to-postfix/" target="_blank">Infix to Postfix Conversion using Stack</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/stack-set-4-evaluation-postfix-expression/" target="_blank">Evaluation of Postfix Expression</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/stack-set-3-reverse-string-using-stack/" target="_blank"> Reverse a String using Stack</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/archives/18754">Implement two stacks in an array</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/archives/6547">Check for balanced parentheses in an expression</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/archives/8405">Next Greater Element</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/archives/6921">Reverse a stack using recursion</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/sort-a-stack-using-recursion/">Sort a stack using recursion</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/the-stock-span-problem/" target="_blank">The Stock Span Problem</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/design-and-implement-special-stack-data-structure/">Design and Implement Special Stack Data Structure</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/implement-stack-using-queue/">Implement Stack using Queues</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/design-a-stack-with-find-middle-operation/">Design a stack with operations on middle element</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/efficiently-implement-k-stacks-single-array/" rel="bookmark">How to efficiently implement k stacks in a single array?</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/sort-a-stack-using-recursion/">Sort a stack using recursion</a></li>
</ol>

<p style="text-align: center;"><strong><a name="Queue"></a>Queue:</strong></p>
<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/queue-set-1introduction-and-array-implementation/" target="_blank">Queue Introduction and Array Implementation</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/queue-set-2-linked-list-implementation/" target="_blank">Linked List Implementation of Queue</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/archives/11042">Applications of Queue Data Structure</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/priority-queue-set-1-introduction/" rel="bookmark">Priority Queue Introduction</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/deque-set-1-introduction-applications/" rel="bookmark">Deque (Introduction and Applications)</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/implementation-deque-using-circular-array/">Implementation of Deque using circular array</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/archives/5009">Implement Queue using Stacks</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-a-tour-that-visits-all-stations/" target="_blank">Find the first circular tour that visits all petrol pumps</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/maximum-of-all-subarrays-of-size-k/" target="_blank">Maximum of all subarrays of size k</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/interesting-method-generate-binary-numbers-1-n/" rel="bookmark">An Interesting Method to Generate Binary Numbers from 1 to n</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/efficiently-implement-k-queues-single-array/" rel="bookmark">How to efficiently implement k Queues in a single array?</a></li>
</ol>
<p style="text-align: center;"><strong><a name="BinaryTree"></a>Binary Tree:</strong></p>
<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/binary-tree-set-1-introduction/" target="_blank">Binary Tree Introduction</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/binary-tree-set-2-properties/" rel="bookmark">Binary Tree Properties</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/binary-tree-set-3-types-of-binary-tree/" rel="bookmark">Types of Binary Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/handshaking-lemma-and-interesting-tree-properties/" rel="bookmark">Handshaking Lemma and Interesting Tree Properties</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/enumeration-of-binary-trees/" rel="bookmark">Enumeration of Binary Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/applications-of-tree-data-structure/">Applications of tree data structure</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/618/">Tree Traversals</a></li>
<li style="text-align: center"><a title="Permalink to BFS vs DFS for Binary Tree" href="https://www.geeksforgeeks.org/bfs-vs-dfs-binary-tree/" rel="bookmark">BFS vs DFS for Binary Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/level-order-tree-traversal/">Level Order Tree Traversal</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/diameter-of-a-binary-tree/">Diameter of a Binary Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/inorder-tree-traversal-without-recursion/">Inorder Tree Traversal without Recursion</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/inorder-tree-traversal-without-recursion-and-without-stack/">Inorder Tree Traversal without recursion and without stack!</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/threaded-binary-tree/" rel="bookmark">Threaded Binary Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/write-a-c-program-to-find-the-maximum-depth-or-height-of-a-tree/">Maximum Depth or Height of a Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/if-you-are-given-two-traversal-sequences-can-you-construct-the-binary-tree/">If you are given two traversal sequences, can you construct the binary tree?</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/clone-binary-tree-random-pointers/" rel="bookmark">Clone a Binary Tree with Random Pointers</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/construct-tree-from-given-inorder-and-preorder-traversal/">Construct Tree from given Inorder and Preorder traversals</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/maximum-width-of-a-binary-tree/">Maximum width of a binary tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/print-nodes-at-k-distance-from-root/">Print nodes at k distance from root</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/print-ancestors-of-a-given-node-in-binary-tree/">Print Ancestors of a given node in Binary Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/check-if-a-binary-tree-is-subtree-of-another-binary-tree/">Check if a binary tree is subtree of another binary tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/connect-nodes-at-same-level/">Connect nodes at same level</a></li>
</ol>

<p style="text-align: center;"><strong style="font-size: 14px; line-height: 1.5em;"><a name="BinarySearchTree"></a>Binary Search Tree:</strong></p>
<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/binary-search-tree-set-1-search-and-insertion/" target="_blank">Search and Insert in BST</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/binary-search-tree-set-2-delete/" target="_blank">Deletion from BST</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-the-minimum-element-in-a-binary-search-tree/" target="_blank">Minimum value in a Binary Search Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/inorder-predecessor-successor-given-key-bst/" rel="bookmark">Inorder predecessor and successor for a given key in BST</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/a-program-to-check-if-a-binary-tree-is-bst-or-not/" target="_blank">Check if a binary tree is BST or not</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/lowest-common-ancestor-in-a-binary-search-tree/" target="_blank">Lowest Common Ancestor in a Binary Search Tree.</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/inorder-successor-in-binary-search-tree/">Inorder Successor in Binary Search Tree</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-k-th-smallest-element-in-bst-order-statistics-in-bst/">Find k-th smallest element in BST (Order Statistics in BST)</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/merge-two-bsts-with-limited-extra-space/">Merge two BSTs with limited extra space</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/fix-two-swapped-nodes-of-bst/">Two nodes of a BST are swapped, correct the BST</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/floor-and-ceil-from-a-bst/">Floor and Ceil from a BST</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/in-place-conversion-of-sorted-dll-to-balanced-bst/">In-place conversion of Sorted DLL to Balanced BST</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-a-pair-with-given-sum-in-bst/">Find a pair with given sum in a Balanced BST</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/g-fact-18/">Total number of possible Binary Search Trees with n keys</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/merge-two-balanced-binary-search-trees/">Merge Two Balanced Binary Search Trees</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/binary-tree-to-binary-search-tree-conversion/">Binary Tree to Binary Search Tree Conversion</a></li>
</ol>

<p style="text-align: center;"><strong><a name="Heap"></a>Heap: </strong></p>
<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/binary-heap/" rel="bookmark">Binary Heap</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/why-is-binary-heap-preferred-over-bst-for-priority-queue/">Why is Binary Heap Preferred over BST for Priority Queue?</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/binomial-heap-2/" rel="bookmark">Binomial Heap</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/fibonacci-heap-set-1-introduction/">Fibonacci Heap</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/heap-sort/" target="_blank">Heap Sort</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/k-largestor-smallest-elements-in-an-array/" target="_blank">K’th Largest Element in an array</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/nearly-sorted-algorithm/" target="_blank">Sort an almost sorted array/</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/tournament-tree-and-binary-heap/">Tournament Tree (Winner Tree) and Binary Heap</a></li>
</ol>
<p style="text-align: center;"><strong><a name="Hashing"></a>Hashing:</strong></p>
<ol>
<li style="text-align: center"><a href="http://geeksquiz.com/hashing-set-1-introduction/" target="_blank">Hashing Introduction</a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/hashing-set-2-separate-chaining/">Separate Chaining for Collision Handling </a></li>
<li style="text-align: center"><a href="http://geeksquiz.com/hashing-set-3-open-addressing/">Open Addressing for Collision Handling </a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/print-binary-tree-vertical-order-set-2/" target="_blank">Print a Binary Tree in Vertical Order</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-whether-an-array-is-subset-of-another-array-set-1/" target="_blank">Find whether an array is subset of another array</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/union-and-intersection-of-two-linked-lists/" target="_blank"> Union and Intersection of two Linked Lists</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/write-a-c-program-that-given-a-set-a-of-n-numbers-and-another-number-x-determines-whether-or-not-there-exist-two-elements-in-s-whose-sum-is-exactly-x/" target="_blank">Find a pair with given sum</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/check-given-array-contains-duplicate-elements-within-k-distance/" target="_blank">Check if a given array contains duplicate elements within k distance from each other</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-itinerary-from-a-given-list-of-tickets/" rel="bookmark">Find Itinerary from a given list of tickets</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-number-of-employees-under-every-manager/" rel="bookmark">Find number of Employees Under every Employee</a></li>
</ol>

<p style="text-align: center;"><strong><a name="Graph"></a>Graph:</strong></p>
<ol>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/graph-and-its-representations/" rel="bookmark">Graph and its representations</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/breadth-first-traversal-for-a-graph/" rel="bookmark">Breadth First Traversal for a Graph</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/" rel="bookmark">Depth First Traversal for a Graph</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/applications-of-depth-first-search/" rel="bookmark">Applications of Depth First Search</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/applications-of-breadth-first-traversal/" rel="bookmark">Applications of Breadth First Traversal</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/detect-cycle-in-a-graph/" rel="bookmark">Detect Cycle in a Directed Graph</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/union-find/" rel="bookmark">Detect Cycle in a an Undirected Graph</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/detect-cycle-undirected-graph/" rel="bookmark">Detect cycle in an undirected graph</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/find-longest-path-directed-acyclic-graph/" rel="bookmark">Longest Path in a Directed Acyclic Graph</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/topological-sorting/" rel="bookmark">Topological Sorting</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/bipartite-graph/" rel="bookmark">Check whether a given graph is Bipartite or not</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/snake-ladder-problem-2/" rel="bookmark">Snake and Ladder Problem</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/minimize-cash-flow-among-given-set-friends-borrowed-money/" rel="bookmark">Minimize Cash Flow among a given set of friends who have borrowed money from each other</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/boggle-find-possible-words-board-characters/" rel="bookmark">Boggle (Find all possible words in a board of characters)</a></li>
<li style="text-align: center"><a href="https://www.geeksforgeeks.org/assign-directions-to-edges-so-that-the-directed-graph-remains-acyclic/" rel="bookmark">Assign directions to edges so that the directed graph remains acyclic</a></li>
</ol>

    <p style="text-align: right;"><a href="/showTutorial"> Goto Top </a> </p>
</div>
  </body>

</html>
